name: Node.js

on:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '16.x'
    - run: npm ci
    - run: npm test
    - run: npx eslint .
    - name: code coverage 
      uses:  paambaati/codeclimate-action@v2.5.7
      env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      with:
          coverageCommand: npm test -- --coverage
          debug: true